spring:
  threads:
    virtual:
      enabled: true
  application:
    name: ecommerce-backoffice-apis
  datasource:
    url: jdbc:h2:mem:mydb;DB_CLOSE_DELAY=-1;MODE=POSTGRESQL;INIT=CREATE SCHEMA IF NOT EXISTS ECOMMERCE;
    username: sa
    password: password
    driverClassName: org.h2.Driver
  sql:
    init:
      data-locations: classpath:data-h2.sql
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_schema: ecommerce
    open-in-view: false
  h2:
    console:
      enabled: ${h2.console.enabled:true}
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    default-schema: ecommerce
springdoc:
  api-docs:
    version: OPENAPI_3_1
  swagger-ui:
    path: /swagger-ui.html
logging:
  level:
    sql: ${logging.enabled:debug}

jwt:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem