spring:
  application:
    name: ecommerce-backoffice-apis
  datasource:
    url: ${POSTGRES_CLOUD_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${POSTGRES_CLOUD_USER:postgres}
    password: ${POSTGRES_CLOUD_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_schema: ecommerce
    open-in-view: false
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    default-schema: ecommerce
springdoc:
  api-docs:
    version: OPENAPI_3_1
  swagger-ui:
    path: /swagger-ui.html
logging:
  level:
    sql: ${logging.enabled:debug}
management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans