spring:
  application:
    name: ecommerce-backoffice-apis
  datasource:
    url: ${POSTGRES_CLOUD_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${POSTGRES_CLOUD_USER:postgres}
    password: ${POSTGRES_CLOUD_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_schema: ecommerce
    open-in-view: false
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    default-schema: ecommerce
springdoc:
  api-docs:
    version: OPENAPI_3_1
  swagger-ui:
    path: /swagger-ui.html
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE